##exmple a faire
#Fri Dec 04 19:34:50 CET 2020
default.login=
charles.url=jdbc\:mysql\://localhost/projets5
default.database=
default.password=
quentin.password=43eyekbqDPRz9xzF8UF6
clement.url=jdbc\:mysql\://localhost\:3306/election_database
charles.database=projets5
save.xlsx=
clement.login=root
quentin.login=root
clement.database=election_database
charles.login=root
clement.password=
quentin.url=jdbc\:mysql\://localhost/projets5?autoReconnect\=true&useSSL\=false
quentin.database=projets5
save.config=
charles.password=
default.url=