#Don't touch this file, except if you know how to do it
#Mon Dec 07 19:13:38 CET 2020
quentin.login=root
default.password=43eyekbqDPRz9xzF8UF6
charles.login=root
exemple.url=jdbc\:mysql\://your_url_use_for_the_database
quentin.url=jdbc\:mysql\://localhost/projets5?autoReconnect\=true&useSSL\=false
quentin.password=43eyekbqDPRz9xzF8UF6
save.xlsx=src\\loader_package\\xlsx\\america.xlsx
clement.password=
clement.login=root
default.url=jdbc\:mysql\://localhost/projets5?autoReconnect\=true&useSSL\=false
charles.password=
default.login=root
save.config=default
exemple.login=your_login_for_mysql
charles.url=jdbc\:mysql\://localhost/projets5
clement.url=jdbc\:mysql\://localhost\:3306/election_database
exemple.password=your_password_for_mysql
