exemple.url = jdbc:mysql://your_url_use_for_the_database
exemple.login = your_login_for_mysql
exemple.password = your_password_for_mysql
exemple.database = the_name_of_the_database

quentin.url = jdbc:mysql://localhost/projets5?autoReconnect=true&useSSL=false
quentin.login = root
quentin.password = 43eyekbqDPRz9xzF8UF6
quentin.database = projets5

clement.url = jdbc:mysql://localhost:3306/election_database
clement.login = root
clement.password =
clement.database = election_database

charles.url = jdbc:mysql://localhost/projets5
charles.login = root
charles.password = 
charles.database = projets5